.header {
	height: 40px;
	padding: 30px 0;
}

.leftMargin {
	margin-left: 10px;
}

.noMargin {
	margin: 0;
}

.hidden {
	display: none;
}

#drop {
	display: none;
}

.navBg {
	height: 42px;
	margin-bottom: 20px;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.logInPos {
	position: relative;
	top: 6px;
}

.displayInline {
	display: inline;
}

.mainTitlePos {
	position: relative;
	top: 30px;
}

.greyGradient {
	background-color: #eee;
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0);
}

.leftCol3, .midCol3 {
	border-right: 1px solid #ccc;
}

.memOptionsCol {
	min-height: 150px;
}

.secondTitlePos {
	position: relative;
	top: 100px;
}

.smallMarginBottom {
	margin-bottom: 10px;
}

.smallMarginRight {
	margin-right: 10px;
}

.marginBottom {
	margin-bottom: 20px;
}

.marginTop {
	margin-top: 20px;
}

.noMarginLeft {
	margin-left: 0;
}

.noMarginBottom {
	margin-bottom: 0;
}

.boxShadow {
	-moz-box-shadow: 0px 0px 10px 5px #ccc;
	-webkit-box-shadow: 0px 0px 10px 5px #ccc;
	box-shadow: 0px 0px 10px 5px #ccc;
}

.marginRight {
	margin-right: 20px;
}

#signUpMargin {
	margin-right: 20px;
}

.marginLeft {
	margin-left: 20px;
}

.clearpadmar {
	padding: 0;
	margin: 0;
}

.iconPos {
	position: relative;
	top: 2px;
}

.settingsPos {
	position: relative;
	top: 13px;
}

.userPos {
	margin: 0 10px;
	position: relative;
	top: 12px;
}

.searchPos {
	position: relative;
	top: 6px;
}

#feedback {
	position: fixed;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	left: -45px;
	top: 200px;
	margin: 0;
	background-color: #b94a48;
	color: #fff;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	display:block;
	padding: 20px;
	transition: left .5s;
	-moz-transition: left .5s;
	-webkit-transition: left .5s;
}

#feedback a {
	color: #fff;
	text-decoration: none;
}

#feedback:hover {
	position: fixed;
	left: -40px;
	transition: left .5s;
	-moz-transition: left .5s;
	-webkit-transition: left .5s;
}

.modal-body textarea {
	width: 98%;
}

#sidebar {
	position:relative;
	height:200px;
	margin:0px 15px 0px 0px;
	padding: 15px;
	border-radius:5px;
	overflow:auto;
}

#side {
	padding-top: 10px;
	position:relative;
	width:275px;
	margin:0 15px 0 0;
	overflow:auto;
}

#side.sticky {
	position: fixed;
	top: 0;
}

.notiBox {
	display: inline;
	margin-right: 5px;
}

#comments p:first-child {
	text-align: right;
}

.sideHead {
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 2;
	border-radius:3px;
	background-color: #eee;  
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee); 
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
}

.sideHead p {
	text-transform: uppercase;
	font-weight: 700;
}

.sideInfo {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width:245px;
	padding: 10px;
	margin: 0 auto;
	font-size: .75em;
}

.si_last {
	border-bottom: none;
}

.sideInfo td, .sideInfo tr {
	vertical-align: top;
	padding: 0;
	margin: 0;
	line-height: 1em;
}

.sideInfo:hover {
	background-color: #eee;
}

.unconfirmedDate {
	width: 16px;
	height: 16px;
	overflow: hidden;
	background-color: #222222;
	color: #fff;
	text-align: center;
	font-weight: 700;
	padding: 2px;
	line-height: 1.1em;
	font-size: .65em;
	text-transform: uppercase;
}

.followBlueBG {
	width: 16px;
	height: 16px;
	padding: 2px;
	text-align: center;
	overflow: hidden;
	background-color: #3a87ad;
}

.social {
	margin-top: 20px;
	margin-left: 10px;
	font-size: .85em;
}

.followBlue {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.followRedBG {
	width: 16px;
	height: 16px;
	padding: 2px;
	text-align: center;
	overflow: hidden;
	background-color: #b94a48;
}

.followRed {
	color: #b94a48;
  	background-color: #f2dede;
	border-color: #eed3d7;
}

.numDate {
	font-size: 1.8em;
}

.sideInfo small {
	font-size: .8em;
}

.sideInfo table {
	width: 100%;
}

.tableOuter {
	width: 10%;
}

.tableMiddle {
	width: 80%;
}

.opacity {
	opacity: .35;
}

.slideleft {
	position:relative;
	right:20px;
}

.heading2 {
	margin-left: 20px;
	margin-bottom: 20px;
}

.clear {
	clear: both;
}

#logo {
	margin-left: 10px;
	font-size: 1.75em;
	position: relative;
	bottom: 0px;
	transition: bottom .5s;
	-moz-transition: bottom .5s;
	-webkit-transition: bottom .5s;
}

#logo:hover {
	position: relative;
	bottom: 3px;
	transition: bottom .5s;
	-moz-transition: bottom .5s;
	-webkit-transition: bottom .5s; 
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.main {
	min-height: 600px;
}

.main a {
	text-decoration: none;
}

.searchIcon {
	z-index: 10;
	position: relative;
	right: 10px;
	top: 12px;
}

.bottomBorder {
	border-bottom: 1px solid #ccc;
}

.footer {
	background-color: #222222;
	color: #fff;
	padding: 10px;
}

.footer a {
	color: #fff;
}

#twitter {
	position: relative;
	bottom: 15px;
	padding-right: 20px;
}

.bottomText {
	padding: 30px 10px;
}

.bottomText p {
	text-align: left;
}